In [1]:
import pandas as pd

In [4]:
flights_2015_dec = pd.read_csv('./data/FLIGHTS_REPORTING_2015_DEC.csv')
flights_2015_jan = pd.read_csv('./data/FLIGHTS_REPORTING_2015_JAN.csv')
flights_2015_feb = pd.read_csv('./data/FLIGHTS_REPORTING_2015_FEB.csv')

flights_2015 = pd.concat([flights_2015_dec, flights_2015_jan, flights_2015_feb])

flights_2015.sample(20)

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED
258415,2015,2,18,2/18/2015 12:00:00 AM,ATL,"Atlanta, GA",FLL,"Fort Lauderdale, FL",1008.0,-4.0,1202.0,-6.0,0.0,NaN,0.0
70943,2015,12,5,12/5/2015 12:00:00 AM,LGB,"Long Beach, CA",SEA,"Seattle, WA",701.0,-4.0,940.0,-8.0,0.0,NaN,0.0
134048,2015,12,9,12/9/2015 12:00:00 AM,OKC,"Oklahoma City, OK",DFW,"Dallas/Fort Worth, TX",1800.0,-6.0,1902.0,-12.0,0.0,NaN,0.0
409411,2015,2,27,2/27/2015 12:00:00 AM,MAF,"Midland/Odessa, TX",DFW,"Dallas/Fort Worth, TX",NaN,NaN,NaN,NaN,1.0,B,0.0
424195,2015,1,28,1/28/2015 12:00:00 AM,SFO,"San Francisco, CA",HNL,"Honolulu, HI",906.0,1.0,1246.0,-1.0,0.0,NaN,0.0
341469,2015,1,23,1/23/2015 12:00:00 AM,DTW,"Detroit, MI",MSY,"New Orleans, LA",1154.0,202.0,1357.0,201.0,0.0,NaN,0.0
410732,2015,2,27,2/27/2015 12:00:00 AM,MSP,"Minneapolis, MN",FAR,"Fargo, ND",922.0,-3.0,1027.0,-13.0,0.0,NaN,0.0
12280,2015,2,1,2/1/2015 12:00:00 AM,SJC,"San Jose, CA",DEN,"Denver, CO",1331.0,9.0,1700.0,2.0,0.0,NaN,0.0
38589,2015,12,3,12/3/2015 12:00:00 AM,IAH,"Houston, TX",AUS,"Austin, TX",1543.0,-2.0,1642.0,-1.0,0.0,NaN,0.0
380708,2015,12,25,12/25/2015 12:00:00 AM,MIA,"Miami, FL",DCA,"Washington, DC",1451.0,36.0,1709.0,25.0,0.0,NaN,0.0
54161,2015,12,4,12/4/2015 12:00:00 AM,FNT,"Flint, MI",ATL,"Atlanta, GA",1209.0,4.0,1405.0,-15.0,0.0,NaN,0.0
77991,2015,1,5,1/5/2015 12:00:00 AM,SLC,"Salt Lake City, UT",LAS,"Las Vegas, NV",810.0,5.0,819.0,-11.0,0.0,NaN,0.0
145961,2015,1,10,1/10/2015 12:00:00 AM,EVV,"Evansville, IN",ORD,"Chicago, IL",654.0,20.0,829.0,19.0,0.0,NaN,0.0
468845,2015,1,31,1/31/2015 12:00:00 AM,SFO,"San Francisco, CA",PSP,"Palm Springs, CA",855.0,-6.0,1039.0,8.0,0.0,NaN,0.0
179072,2015,1,12,1/12/2015 12:00:00 AM,MIA,"Miami, FL",BHM,"Birmingham, AL",1355.0,-5.0,1452.0,-13.0,0.0,NaN,0.0
159367,2015,12,11,12/11/2015 12:00:00 AM,DEN,"Denver, CO",OKC,"Oklahoma City, OK",2011.0,-4.0,2238.0,-2.0,0.0,NaN,0.0
232366,2015,2,16,2/16/2015 12:00:00 AM,IAH,"Houston, TX",ATL,"Atlanta, GA",702.0,-3.0,942.0,-25.0,0.0,NaN,0.0
181602,2015,12,12,12/12/2015 12:00:00 AM,RNO,"Reno, NV",PHX,"Phoenix, AZ",920.0,-5.0,1159.0,-10.0,0.0,NaN,0.0
167727,2015,1,11,1/11/2015 12:00:00 AM,SFO,"San Francisco, CA",SNA,"Santa Ana, CA",1554.0,9.0,1712.0,7.0,0.0,NaN,0.0
336728,2015,1,23,1/23/2015 12:00:00 AM,ATL,"Atlanta, GA",EWR,"Newark, NJ",1753.0,6.0,1956.0,-7.0,0.0,NaN,0.0

In [3]:
flights_2016_dec = pd.read_csv('./data/FLIGHTS_REPORTING_2016_DEC.csv')
flights_2016_jan = pd.read_csv('./data/FLIGHTS_REPORTING_2016_JAN.csv')
flights_2016_feb = pd.read_csv('./data/FLIGHTS_REPORTING_2016_FEB.csv')

flights_2016 = pd.concat([flights_2016_dec, flights_2016_jan, flights_2016_feb])

flights_2016.sample(20)

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED
285983,2016,12,20,12/20/2016 12:00:00 AM,DFW,"Dallas/Fort Worth, TX",LGA,"New York, NY",720.0,0.0,1131.0,-5.0,0.0,NaN,0.0
134965,2016,1,10,1/10/2016 12:00:00 AM,DFW,"Dallas/Fort Worth, TX",SHV,"Shreveport, LA",1514.0,-1.0,1602.0,-10.0,0.0,NaN,0.0
340870,2016,1,24,1/24/2016 12:00:00 AM,OGG,"Kahului, HI",HNL,"Honolulu, HI",1552.0,-11.0,1624.0,-16.0,0.0,NaN,0.0
155828,2016,1,11,1/11/2016 12:00:00 AM,ORD,"Chicago, IL",LGA,"New York, NY",1035.0,95.0,1327.0,79.0,0.0,NaN,0.0
40561,2016,12,3,12/3/2016 12:00:00 AM,RSW,"Fort Myers, FL",MDW,"Chicago, IL",1747.0,-3.0,1937.0,-8.0,0.0,NaN,0.0
54537,2016,12,4,12/4/2016 12:00:00 AM,RIC,"Richmond, VA",BOS,"Boston, MA",2009.0,14.0,2130.0,8.0,0.0,NaN,0.0
160562,2016,1,12,1/12/2016 12:00:00 AM,ATL,"Atlanta, GA",HOU,"Houston, TX",1624.0,-2.0,1726.0,-18.0,0.0,NaN,0.0
334111,2016,2,23,2/23/2016 12:00:00 AM,SLC,"Salt Lake City, UT",DEN,"Denver, CO",825.0,-5.0,1005.0,-8.0,0.0,NaN,0.0
248100,2016,1,18,1/18/2016 12:00:00 AM,DEN,"Denver, CO",DFW,"Dallas/Fort Worth, TX",1550.0,0.0,1835.0,-17.0,0.0,NaN,0.0
365712,2016,12,25,12/25/2016 12:00:00 AM,ORD,"Chicago, IL",MKE,"Milwaukee, WI",1008.0,78.0,1056.0,78.0,0.0,NaN,0.0
228893,2016,2,16,2/16/2016 12:00:00 AM,SAN,"San Diego, CA",DEN,"Denver, CO",836.0,-4.0,1146.0,-9.0,0.0,NaN,0.0
119669,2016,12,9,12/9/2016 12:00:00 AM,BOS,"Boston, MA",BWI,"Baltimore, MD",1502.0,-3.0,1633.0,-7.0,0.0,NaN,0.0
418410,2016,12,29,12/29/2016 12:00:00 AM,ATL,"Atlanta, GA",XNA,"Fayetteville, AR",2146.0,-4.0,2246.0,-1.0,0.0,NaN,0.0
187313,2016,12,13,12/13/2016 12:00:00 AM,RSW,"Fort Myers, FL",MSP,"Minneapolis, MN",1105.0,7.0,1343.0,11.0,0.0,NaN,0.0
234154,2016,1,17,1/17/2016 12:00:00 AM,DAY,"Dayton, OH",BWI,"Baltimore, MD",619.0,-1.0,754.0,4.0,0.0,NaN,0.0
117165,2016,2,9,2/9/2016 12:00:00 AM,CLT,"Charlotte, NC",MSY,"New Orleans, LA",1849.0,-6.0,1952.0,-8.0,0.0,NaN,0.0
119852,2016,12,9,12/9/2016 12:00:00 AM,BOS,"Boston, MA",MCO,"Orlando, FL",933.0,-2.0,1252.0,0.0,0.0,NaN,0.0
318581,2016,1,22,1/22/2016 12:00:00 AM,SLC,"Salt Lake City, UT",MCO,"Orlando, FL",2237.0,-3.0,439.0,-14.0,0.0,NaN,0.0
343992,2016,2,24,2/24/2016 12:00:00 AM,MCI,"Kansas City, MO",ATL,"Atlanta, GA",526.0,-4.0,856.0,26.0,0.0,NaN,0.0
43495,2016,2,3,2/3/2016 12:00:00 AM,SLC,"Salt Lake City, UT",BTM,"Butte, MT",2153.0,3.0,2301.0,-8.0,0.0,NaN,0.0

In [4]:
flights_2017_dec = pd.read_csv('./data/FLIGHTS_REPORTING_2017_DEC.csv')
flights_2017_jan = pd.read_csv('./data/FLIGHTS_REPORTING_2017_JAN.csv')
flights_2017_feb = pd.read_csv('./data/FLIGHTS_REPORTING_2017_FEB.csv')

flights_2017 = pd.concat([flights_2017_dec, flights_2017_jan, flights_2017_feb])

flights_2017.sample(20)

,YEAR,MONTH,DAY_OF_MONTH,FL_DATE,ORIGIN,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED
376489,2017,12,26,12/26/2017 12:00:00 AM,DFW,"Dallas/Fort Worth, TX",BTR,"Baton Rouge, LA",1026.0,-4.0,1145.0,-3.0,0.0,NaN,0.0
218036,2017,2,16,2/16/2017 12:00:00 AM,BOI,"Boise, ID",DEN,"Denver, CO",1500.0,0.0,1706.0,21.0,0.0,NaN,0.0
61415,2017,1,5,1/5/2017 12:00:00 AM,BNA,"Nashville, TN",ATL,"Atlanta, GA",1408.0,-7.0,1640.0,20.0,0.0,NaN,0.0
33334,2017,1,3,1/3/2017 12:00:00 AM,DCA,"Washington, DC",SJU,"San Juan, PR",838.0,-7.0,1320.0,-16.0,0.0,NaN,0.0
19915,2017,2,2,2/2/2017 12:00:00 AM,DTW,"Detroit, MI",SCE,"State College, PA",2152.0,-7.0,2313.0,-12.0,0.0,NaN,0.0
36507,2017,12,3,12/3/2017 12:00:00 AM,MCO,"Orlando, FL",PHX,"Phoenix, AZ",1745.0,-2.0,2014.0,-19.0,0.0,NaN,0.0
212219,2017,12,15,12/15/2017 12:00:00 AM,DEN,"Denver, CO",OMA,"Omaha, NE",949.0,-3.0,1216.0,-10.0,0.0,NaN,0.0
98772,2017,2,7,2/7/2017 12:00:00 AM,SJC,"San Jose, CA",PDX,"Portland, OR",1413.0,38.0,1552.0,35.0,0.0,NaN,0.0
198324,2017,2,14,2/14/2017 12:00:00 AM,PHX,"Phoenix, AZ",FLG,"Flagstaff, AZ",941.0,-7.0,1037.0,-11.0,0.0,NaN,0.0
364991,2017,2,26,2/26/2017 12:00:00 AM,ATL,"Atlanta, GA",DAB,"Daytona Beach, FL",939.0,-1.0,1047.0,-10.0,0.0,NaN,0.0
380226,2017,12,26,12/26/2017 12:00:00 AM,LAX,"Los Angeles, CA",IAH,"Houston, TX",53.0,-18.0,552.0,-32.0,0.0,NaN,0.0
57174,2017,1,4,1/4/2017 12:00:00 AM,RDU,"Raleigh/Durham, NC",ATL,"Atlanta, GA",703.0,-2.0,827.0,-17.0,0.0,NaN,0.0
355168,2017,12,24,12/24/2017 12:00:00 AM,OAK,"Oakland, CA",SAN,"San Diego, CA",2039.0,9.0,2202.0,7.0,0.0,NaN,0.0
376254,2017,12,26,12/26/2017 12:00:00 AM,DEN,"Denver, CO",PHX,"Phoenix, AZ",1016.0,32.0,1300.0,75.0,0.0,NaN,0.0
378624,2017,12,26,12/26/2017 12:00:00 AM,IAD,"Washington, DC",LAX,"Los Angeles, CA",656.0,-4.0,1028.0,6.0,0.0,NaN,0.0
52108,2017,2,4,2/4/2017 12:00:00 AM,LGA,"New York, NY",PBI,"West Palm Beach/Palm Beach, FL",1555.0,-5.0,1831.0,-54.0,0.0,NaN,0.0
197256,2017,2,14,2/14/2017 12:00:00 AM,ORD,"Chicago, IL",CLE,"Cleveland, OH",1345.0,0.0,1606.0,1.0,0.0,NaN,0.0
244472,2017,1,17,1/17/2017 12:00:00 AM,SAN,"San Diego, CA",DFW,"Dallas/Fort Worth, TX",1045.0,-5.0,1537.0,-12.0,0.0,NaN,0.0
257398,2017,1,18,1/18/2017 12:00:00 AM,ORD,"Chicago, IL",DSM,"Des Moines, IA",1755.0,0.0,1913.0,-9.0,0.0,NaN,0.0
456638,2017,12,31,12/31/2017 12:00:00 AM,IAH,"Houston, TX",SEA,"Seattle, WA",628.0,23.0,927.0,22.0,0.0,NaN,0.0

In [11]:
import psycopg2
from sql_functions import get_engine

schema = 'group3'
engine = get_engine()

In [12]:
table_name_2016 = 'flights_2016'

if engine!=None:
    try:
        flights_2016.to_sql(name=table_name_2016, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name_2016} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

(psycopg2.errors.InvalidSchemaName) schema "group3" does not exist
LINE 2: CREATE TABLE group3.flights_2016 (
                     ^

[SQL:
CREATE TABLE group3.flights_2016 (
	"YEAR" BIGINT,
	"MONTH" BIGINT,
	"DAY_OF_MONTH" BIGINT,
	"FL_DATE" TEXT,
	"ORIGIN" TEXT,
	"ORIGIN_CITY_NAME" TEXT,
	"DEST" TEXT,
	"DEST_CITY_NAME" TEXT,
	"DEP_TIME" FLOAT(53),
	"DEP_DELAY" FLOAT(53),
	"ARR_TIME" FLOAT(53),
	"ARR_DELAY" FLOAT(53),
	"CANCELLED" FLOAT(53),
	"CANCELLATION_CODE" TEXT,
	"DIVERTED" FLOAT(53)
)

]
(Background on this error at: https://sqlalche.me/e/14/f405)