In [1]:
import requests
import os
import json
import pandas as pd
import time
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
# Set the url
url = "https://meteostat.p.rapidapi.com/stations/daily"

# Settings:
stations = [
            '74486',  # New York - John F. Kennedy Airport
            '72509',            # Boston Logan International Airport
            '72405',            # Washington D.C. National Airport
            '72502'#,            # New Jersey - Newark Airport
#            '72202',            #'Miami International Airport'
#            '72243',            #'Houston, TX Intercontinental'
#            '72494',            #'San Francisco Airport'
#            '72793'             # Seattle-Tacoma Airport
            ]

start_dates = [
                '2015-01-01',
                '2015-12-01',
                '2016-12-01',
                '2017-12-01'
                ]

end_dates = [
            '2015-02-28',
            '2016-02-29',
            '2017-02-28',
            '2017-12-31'
            ]

headers = {
    "X-RapidAPI-Key": os.getenv('api_key'),
    "X-RapidAPI-Host": "meteostat.p.rapidapi.com"
}

# Create empty dataframe, will be used to append each location's weather data
weather_df = pd.DataFrame([])

# Loop through all locations and all dates
for station in stations:
    for start_date, end_date in zip(start_dates, end_dates):
        querystring = {
                        "station": station,
                        "start": start_date,
                        "end": end_date,
                        "units": "metric"
                        }
        
        # Request data from url
        r = requests.get(url, headers=headers, params=querystring)

        time.sleep(5) #uncomment if you run into a query limit

        # Decode response with json decoder
        weather_temp = r.json()

        # Flatten json response
        weather_temp_df = pd.json_normalize(weather_temp,
                                             sep='_',
                                             record_path='data',
                                             record_prefix='weather_'
                                             )
        
        # Set the station code for all rows related to the current date range
        weather_temp_df['station'] = station

        # Concatenate dataframes
        weather_df = pd.concat([weather_df, weather_temp_df], ignore_index=True)

# Print final dataset weather_df
weather_df

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
0,2015-01-01,0.3,-2.1,4.4,0.0,0.0,246.0,27.7,None,1019.4,None,74486
1,2015-01-02,4.1,1.7,7.2,0.0,0.0,267.0,22.0,None,1023.5,None,74486
2,2015-01-03,2.5,-1.0,8.3,23.9,0.0,NaN,14.8,None,1031.5,None,74486
3,2015-01-04,8.5,6.1,12.8,11.9,0.0,NaN,16.2,None,1011.0,None,74486
4,2015-01-05,6.1,-4.9,10.6,0.0,0.0,290.0,31.7,None,1019.6,None,74486
...,...,...,...,...,...,...,...,...,...,...,...,...
1079,2017-12-27,-5.2,-8.2,-3.2,0.0,0.0,307.0,18.7,None,1032.4,None,72502
1080,2017-12-28,-8.3,-11.0,-6.6,0.0,0.0,305.0,23.0,None,1033.4,None,72502
1081,2017-12-29,-8.7,-11.0,-3.8,0.0,0.0,300.0,16.6,None,1026.4,None,72502
1082,2017-12-30,-7.3,-9.3,-4.9,0.8,0.0,245.0,11.9,None,NaN,None,72502
1083,2017-12-31,-8.4,-12.7,-7.1,0.0,30.0,307.0,24.1,None,1024.0,None,72502

In [3]:
weather_df['station'].unique()

array(['74486', '72509', '72405', '72502'], dtype=object)

In [6]:
# Creating the DataFrame for the cities to compare


# Set the url
url = "https://meteostat.p.rapidapi.com/stations/daily"

# Settings:
stations = [
#            '74486',  # New York - John F. Kennedy Airport
#            '72509',            # Boston Logan International Airport
#            '72405',            # Washington D.C. National Airport
#            '72502',            # New Jersey - Newark Airport
            '72202',            #'Miami International Airport'
            '72243',            #'Houston, TX Intercontinental'
            '72494',            #'San Francisco Airport'
            '72793'             # Seattle-Tacoma Airport
            ]

start_dates = [
                '2015-01-01',
                '2015-12-01',
                '2016-12-01',
                '2017-12-01'
                ]

end_dates = [
            '2015-02-28',
            '2016-02-29',
            '2017-02-28',
            '2017-12-31'
            ]

headers = {
    "X-RapidAPI-Key": os.getenv('api_key'),
    "X-RapidAPI-Host": "meteostat.p.rapidapi.com"
}

# Create empty dataframe, will be used to append each location's weather data
weather_df_2 = pd.DataFrame([])

# Loop through all locations and all dates
for station in stations:
    for start_date, end_date in zip(start_dates, end_dates):
        querystring = {
                        "station": station,
                        "start": start_date,
                        "end": end_date,
                        "units": "metric"
                        }
        
        # Request data from url
        r = requests.get(url, headers=headers, params=querystring)

        time.sleep(5) #uncomment if you run into a query limit

        # Decode response with json decoder
        weather_temp_2 = r.json()

        # Flatten json response
        weather_temp_df_2 = pd.json_normalize(weather_temp_2,
                                             sep='_',
                                             record_path='data',
                                             record_prefix='weather_'
                                             )
        
        # Set the station code for all rows related to the current date range
        weather_temp_df_2['station'] = station

        # Concatenate dataframes
        weather_df_2 = pd.concat([weather_df_2, weather_temp_df_2], ignore_index=True)

# Print final dataset weather_df
weather_df_2

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
0,2015-01-01,23.8,21.1,27.8,0.0,NaN,NaN,8.3,None,1021.3,364.0,72202
1,2015-01-02,24.8,22.2,28.3,0.3,NaN,NaN,14.4,None,NaN,405.0,72202
2,2015-01-03,25.6,24.4,28.3,0.0,NaN,117.0,18.7,None,1022.8,421.0,72202
3,2015-01-04,25.7,23.3,28.3,0.0,NaN,NaN,14.0,None,1023.6,469.0,72202
4,2015-01-05,25.2,22.2,28.9,0.5,NaN,NaN,9.7,None,NaN,450.0,72202
...,...,...,...,...,...,...,...,...,...,...,...,...
1079,2017-12-27,1.8,0.6,5.0,0.0,30.0,NaN,6.1,None,1025.6,None,72793
1080,2017-12-28,5.7,3.3,8.9,8.6,0.0,163.0,17.3,None,NaN,None,72793
1081,2017-12-29,7.6,3.9,12.2,38.1,0.0,NaN,16.6,None,NaN,None,72793
1082,2017-12-30,8.3,3.3,8.9,2.8,0.0,204.0,18.7,None,1022.3,None,72793
1083,2017-12-31,3.8,0.6,6.1,0.0,0.0,10.0,19.8,None,NaN,None,72793

In [7]:
weather_df_2['station'].unique()

array(['72202', '72243', '72494', '72793'], dtype=object)

**Don't let the next cell run, because I just copy/pasted the cell from the other notebook, but didn't exactly look over the code**

**And I also think we just need to do this part once!**

In [4]:
import sys
sys.path.append('../')  # Add the parent folder to the Python path

from sql_functions import get_engine  # Import the function

# Now you can use my_function() in your notebook

In [5]:
import psycopg2

schema = 'group3'
table_name = f'weather_main_cities'

engine = get_engine()

if engine!=None:
    try:
        weather_df.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The weather_main_cities table was imported successfully.
No engine

In [8]:
import psycopg2

schema = 'group3'
table_name = f'weather_other_cities'

engine = get_engine()

if engine!=None:
    try:
        weather_df_2.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The weather_other_cities table was imported successfully.